body {
  padding: 5px;
}

.box {
  width: 1000px;
}
.poster {
  width: 400px;
  height: 400px;
  display: inline-block;
}
.poster-text {
  padding: 20px;
  width: 400px;
  height: 400px;
  position: relative;
  bottom: 25rem;
}
.short-text {
  padding: 20px;
  width: 400px;
  height: 400px;
  position: relative;
  bottom: 32rem;
  left: 25rem;
}

img {
  width: 400px;
  border: 1px solid black;
  border-radius: 5%;
}
